/* タブレット */

@media(max-width:1050px){
/* 共通ページ */
  /* ヘッダー */
  .container{
    margin:20px auto;
  }
  .header-left-list{
    display:none;
  }
  .header-right-btn,.header-right-tel,.header-right-mail{
    display:none;
  }
  .gmenu{
    display:flex;
  }
  .header-right-btn-responsive a{
    display: block;
  }
  .gnav-list {
    font-size: 26px;
    line-height: 32px;
  }

/* トップページ */

/* Data付近調整 */
  .data-content{
    flex-direction: column;
    justify-content: unset;
    align-items: center;
  }
.data-text{
  width:100%;
  margin-bottom: 50px;
  margin-left: 20%;
}

.data-map{
  width:156%;
  transform: translateX(-10%);
  height:100%;
  padding-bottom:400px;
}
.ggmap iframe,
.ggmap object,
.ggmap embed {
height: 400px;
}
.data-img{
  margin-top:100px;
}


/* ルームページ */
header{
  border-bottom: none;
}

}


/* スマホ */
@media(max-width:600px){
  /* 共通ページ */
  .container{
    width:90%;
  }
  .gmenu{
    right:5%;
    width:50px;
    height:60px;
  }
  .gmenu span{
    top:40px;
  }
  .gnav-list {
    font-size: 16px;
    line-height: 6px;
  }

  .header-left-logo{
    width: 130px;
    height: 60px;
    transform: translateY(-20px);
  }

  .header-right-btn-responsive a{
    right:5%;
    margin-right:50px;
    width:50px;
    height:60px;
    font-size:8px;
  }
  .header-right-btn-responsive i{
    font-size:20px;
    margin-top:24px;
    margin-bottom: 1px;
  }

  /* トップページ */
  .movie-section{
    margin-top: 30px;
    margin-bottom:60px;
  }
  .data-text{
    margin-left: 0;
  }
  .main-message{
    font-size:20px;
  }
  .concept p{
    font-size: 12px;
  }

  .data-text{
    font-size: 12px;
  }
  .data-text-name{
    font-size: 20px;
  }
  .data-map{
    width:140%;
    height:300px;
  }
}