/* 動画セクション */
.movie-section{
  width:100%;
  margin-top: 70px;
  margin-bottom:100px;
}
.movie{
  position: relative;
  width:100%;
}
.movie-link{
  position: absolute;
  left: 0;
  width:100%;
  box-shadow: 0px 0 10px black;
  border-radius: 3px;
}
.movie::after{
  content: "";
  display: block;
  padding-top:60%;
}

.sound-btn{
  z-index: 100;
  position: absolute;
  color:white;
  right:5%;
  bottom: 10%;
  font-size: 20px;
  cursor: pointer;
}

/* コンセプトセクション 内容 */
.main-message{
  text-align: center;
  font-size: 36px;
  margin-bottom:50px;
}

.concept p{
  text-align: center;
  width:80%;
  font-size: 14px;
  line-height: 24px;
  margin:0 auto;
}

.concept-img{
  margin: 100px 0;
  display: flex;
  width:100%;
  height:400px;
}
.concept-img1{
  background-color: black;
  width:60%;
  height:100%;
}
.concept-img2{
  background-color: gray;
  width:40%;
  height:100%;
}

/* データセクション */
.data{
  width:100%;
  margin: 0 auto;
}

.data-content{
  display:flex;
  justify-content: space-between;
  width:80%;
  margin: 0 auto;
}

.data-text{
  width:40%;
  font-size: 14px;
  line-height:18px;
}
.data-text-name{
  font-size:24px;
  margin:20px 0;
}
.data-text-address, .data-text-tel,.data-text-time, .data-text-car{
  margin:16px 0;
}
.data-text-car i{
  padding-left:24px;
}
.time, .tel-number{
  padding-left:10px;
}
.time2, .tel-number2{
  padding-left:66px;
}


.data-map{
  width:60%;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
 
.ggmap iframe,
.ggmap object,
.ggmap embed {
position: absolute;
top: 0;
right: 0;
width: 80%;
height: 250px;
}


.data-img{
  width:100%;
  height:500px;
  background-color: black;
  margin-top:-100px;
}
